@import url("https://fonts.googleapis.com/css2?family=Knewave&family=Nunito:wght@400;600;700&display=swap");

body,
html {
  font-family: Nunito, sans-serif;
  height: 100%;
}


.container {
  height: 100%;
  width: 100%;
}

.container-register {
  display: block;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5% 30% 10% 30%;

}


.conteiner-select {
 padding: 10px 0px 10px 0px;
}

.container-login-form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 13px;
  padding-top: 15PX;
}



