
@import url("https://fonts.googleapis.com/css2?family=Knewave&family=Nunito:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: Nunito, sans-serif;
}


.container {
  width: 100%;
  margin: 0 auto;
}


.container-home {
  display: block;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5% 30% 10% 30%;
}

.container-input {
  
width:100%;
background-color: #fff;
border-radius: 80px;
overflow: hidden;
padding: 20px ;
border-color: #6a7dfe;
border-style: solid;
margin: 20px;

}

.container-value {
  
  font-family: Helvetica;
  color: #fff;
  align-items: left; 
 }



